<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SetUp Page</title>
  <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css" />
</head>

<body>
  <form class="p-4">
    <div class="form-group">
      <label for="ocUser">Oc User</label>
      <input type="text" name="ocUser" id="ocUser" placeholder="ocUser" class="form-control" />
    </div>
    <div class="form-group">
      <label for="ocPassword">Oc Password</label>
      <input type="password" name="ocPassword" id="ocPassword" placeholder="ocPassword" class="form-control" />
    </div>
    <button type="submit" id="submitButtton" class="btn btn-primary btn-block">
      Save Configuration
    </button>
  </form>
</body>

<script src="./login.js"></script>

</html>